h1 {
	text-align: center;
}
.wrap {
	width: 1200px;
	margin: 0 auto;
}
#box-map {
	float: left;
	width: 640px;
	height: 640px;
}
#top-num {
	padding-left: 40px;
}

#box-board {
	position: relative;
	font-size: 0;
}
.small-box {
	width: 40px;
	height: 40px;
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	font-size: 16px;
	line-height: 30px;
}
.small-board {
	border: 1px solid #e6e6e6;
	border-bottom: 0;
	border-right: 0;
}
.left-num {
	vertical-align: top;
}
#move-box {
	position: absolute;
	width: 36px;
	height: 36px;
	top: 1px;
	left: 41px;
	z-index: 1;
}
#textIn {
	width: 530px;
	height: 600px;
	margin-top: 40px;
	margin-left: 20px;
	background-color: #b79bbe;
	border: 1px solid #b79bbe;
	outline: none;
	border-radius: 0 5px 5px 0;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5em;
	color: #fff;
}